{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Attendance List</h1>
    
    <form method="get">

        <input type="text" name="search" 
        placeholder="Search username/firstname/lastname/department" 
        value="{{search_query}}">

        <input type="date" name="date_from" 
        value="{{date_from}}">

        <input type="date" name="date_to" 
        value="{{date_to}}">

        <button type="submit">Search</button>

    </form>

    <table border="1" cellpadding="8">
        <tr>
            <th>Date</th>
            <th>Employee</th> 
            <th>Position</th>
            <th>Department</th>
            <th>Regular Hours</th>
            <th>Overtime Hours</th>
            <th>Created By</th>
            <th>Actions</th>
        </tr>

        {% for attendance in page_obj%}
        <tr>
            <td>{{attendance.date}}</td>
            <td>{{attendance.employee.user.username}}</td>
            <td>{{attendance.employee.position}}</td>
            <td>{{attendance.employee.department}}</td>
            <td>{{attendance.regular_hours}}</td>
            <td>{{attendance.overtime_hours}}</td>
            <td>{{attendance.created_by}}</td>

            <td> <a href="{% url 'edit_attendance' attendance.pk %}">Edit</a> </td>
        </tr>
        {% endfor %}


    </table>
</body>
</html>