<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Edit Employee</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Employee Details</h3>
        {{ emp_form.as_p }}
        <br>
        <h3>User Details</h3>
        {{ user_form.as_p}}
        <input type="checkbox" onclick="togglePassword()" > Show Password
        <br>    
        <br>
        <button type='submit'>Save Changes</button>
        
    </form>
    
    <script>
        function togglePassword(){
        const pwd = document.getElementById('id_password')
        const confirmPwd = document.getElementById('id_confirm_password')

        if (pwd && confirmPwd) {
            const newType = pwd.type === 'password' ? 'text' : 'password'
            pwd.type = newType;
            confirmPwd = newType;
        }
    }
    </script>
</body>
</html>