<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee List</title>
</head>
<body>
    <h1>Employee List</h1>
      
    <a href="{% url 'create_employee'%}">Create Employee</a>
    
    <table border="1">
        
        <thead>
            <tr>    

                <th>ID</th>
                <th>Name</th>
                <th>Position</th>
                <th>Profile Picture</th>
                <th>Actions</th>
                <th>Edit</th>
                <th>Delete</th>
                
            </tr>

        </thead>
        <tbody>
            {% for employee in page_obj %}
            <tr>
                
                <td>{{ employee.employee_id }}</td>
                <td>{{ employee.full_name }}</td>
                <td>{{ employee.position}}</td>
                <td>
                    {% if employee.profile_picture %}
                        <img src='{{ employee.profile_picture.url }}' alt='Profile Picture' width='80' height='80'>
                    {% else %}
                        <p>No Picture</p>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'employee_payrolls' employee.id %}"> View Payroll</a>

                </td>

                <td>
                    <a href="{% url 'edit_employee' employee.pk %}">Edit</a>
                </td>

                <td>
                    <a href="{% url 'delete_employee' employee.pk %}">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No Employees found</td>
            </tr>
             {% endfor %}
                


        </tbody>



    </table>
   {% if messages %}
   <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
   </ul>
   {% endif %}
</body>
</html>