<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee List</title>
</head>
<body>
    <h1>Employee List</h1>
    
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Position</th>
                <th>Actions</th>


            </tr>

        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.user.username }}</td>
                <td>{{ employee.position}}</td>

                <td>
                    <a href="{% url 'payroll_detail' pk=employee.id %}"> View Payroll</a>

                </td>
                
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No Employees found</td>
            </tr>
             {% endfor %}
                


        </tbody>



    </table>
</body>
</html>