{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hr Dashboard</title>
</head>
<body>
    <h1>Hr Dashboard</h1>
    <p>Welcome, {{ request.user.username}}!</p>

    <h2>Payroll Stats</h2>

    <p>Total Payroll Records: {{ total_payrolls }}</p>
    <p>Total Salary Expenses: ₱{{ total_salary|intcomma }}</p>

    <h3>All Payrolls</h3>
    <a href="{% url 'hr_payroll_list'%}">View Payrolls</a>
</body>
</html>