<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hr Dashboard</title>
</head>
<body>
    <h1>Hr Dashboard</h1>
    <p>Welcome, {{ request.user.username}}!</p>

    <ul>    
        <li><a href="{% url 'hr_payroll_list' %}">View all Payrolls</a></li>
        <li><a href="{% url 'employee_list' %}">View all Employees</a></li>
        <li><a href="/admin/">Go to Admin Site</a></li>


    </ul>
</body>
</html>