{% load humanize%}
<!DOCTYPE html>
<html>
<head>
    <title>Payroll Details</title> 

</head> 
<body> 

    <h1> Payroll Details </h1>

    <p> <strong>Payroll Period:</strong> {{payroll.payroll_period}} </p>

    <table border = "1", cellpadding = "8">
    <tr> 
    <th>Employee Username</th>
    <th>Position</th>
    <th>Hourly Rate</th>
    <th>Hours Worked</th>
    <th>Overtime Hours</th>
    <th>Total Pay</th>
   
    </tr>
   
    <tr> 
        <td>{{payroll.employee.user.username}}</td>
        <td>{{payroll.employee.position}}</td>
        <td>{{payroll.employee.hourly_rate}}</td>
        <td>{{payroll.hours_worked}}</td>
        <td>{{payroll.overtime_hours}}</td>
        <td>₱{{payroll.total_pay| intcomma}}</td>
        


    </tr>

    </table>
    <hr>
    <a href="{% url 'payroll_history' payroll.employee.id %}">Payroll History</a>
  

</body>

</html>