{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payroll History</title>
</head>
<body>
    <h1>My Payroll History</h1>
    <table border="1" cellpadding="8">
        <tr>
            <th>Payroll Period</th>
            <th>Total Pay</th>
            <th>Status</th>
            <th>View</th>
        </tr>

        {% for payroll in page_obj%}
        <tr>
            <td>{{payroll.payroll_period}}</td>
            <td>₱{{payroll.total_pay}}</td>
            <td>{{payroll.status}}</td>
            <td>
                <a href="{% url 'payroll_detail' payroll.id%}">View</a>
            </td>
            
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No Payroll records yet.</td>
        </tr>
        {% endfor %}

    </table>
        <div style="magrin-top:20px">
      {% if page_obj.has_previous%}
        <a href="?page=1&search={{search_query}}">First</a> <!-- this link brings you to page1 and if there is a search query, results will apply to page 1 also--> 
        <a href="?page={{ page_obj.previous_page_number }}&search={{ search_query}}">Last</a>
      
      {% endif %}

      Page {{ page_obj.number }} of {{ page_obg.paginator.num_pages}}

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        
      {% endif %}


    </div>
</body>
</html>