{% load humanize %}
<!DOCTYPE html>
<html> 

<head> 
    <title> HR Payroll Details </title> 

</head>
<body>
    <h1>Payroll Records</h1>

    <form method="get"> 
      <input type="text" name="search" placeholder="Search employee/position/period" value={{search_query}}>
      <button type="submit">Search</button>


    </form>

    <table border ="1" cellpadding ="8">
      <tr>
        <th>Employee</th> 
        <th>Position</th>
        <th>Hours Worked</th>
        <th>Overtime Hours</th>
        <th>Total Pay</th>
        <th>View</th>
      </tr>

      {% for payroll in page_obj%}
      <tr>
        <td>{{payroll.employee.user.username}}</td>
        <td>{{payroll.employee.position}}</td>
        <td>{{payroll.hours_worked}}</td>
        <td>{{payroll.overtime_hours}}</td>
        <td>₱{{payroll.total_pay| intcomma}}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">No payroll records yet.</td>
      </tr>
      {%endfor%}




    </table>
    <div style="magrin-top:20px">
      {% if page_obj.has_previous%}
        <a href="?page=1&search={{search_query}}">First</a> <!-- this link brings you to page1 and if there is a search query, results will apply to page 1 also--> 
        <a href="?page={{ page_obj.previous_page_number }}&search={{ search_query}}">Last</a>
      
      {% endif %}

      Page {{ page_obj.number }} of {{ page_obg.paginator.num_pages}}

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&search={{ search_query}}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}&search={{ search_query}}">Last</a>
        
      {% endif %}


    </div>


  
 
    
</body>




</html>
