{% load humanize %}
<!DOCTYPE html>
<html>
<head>
    <title>Payroll List</title>
</head>
<body>

<h1>Payroll Records</h1>

<table border="1" cellpadding="8">
    <tr>  <!-- table row -->
        <th>Employee</th>  <!-- table header -->
        <th>Position</th>
        <th>Hours Worked</th>
        <th>Overtime Hours</th>
        <th>Total Pay</th>
    </tr>

    {% for payroll in payrolls %}
    
    <tr>  <!-- everything in this row runs per payroll record -->
            <td> 
                <a href="{% url 'payroll_detail' payroll.pk%}"> 
                    {{ payroll.employee.user.username}}

                </a>
            </td>

        <td>{{ payroll.employee.user.username }}</td>   <!-- table data cell -->
        <td>{{ payroll.employee.position }}</td>
        <td>{{ payroll.hours_worked }}</td>
        <td>{{ payroll.overtime_hours }}</td>
        <td> ₱{{ payroll.total_pay | intcomma }}  </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">No payroll records yet.</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
